:root {
  --main-bg-color: #dddddd;
  --box-bg-color: #081927;
  --dark-font-color: #0b1f71;
  --light-font-color: #f9cc85;
  --grey-line-color: #5e5852;
  --white-color: #ffffff;
  --box-font: 'Hind Siliguri', sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

header {
  color: var(--dark-font-color);
  padding-bottom: 2rem;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.grid {
  border-top: solid 1px var(--grey-line-color);
  padding: 2rem 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 20rem);
  grid-gap: 4rem;
}

.box-container {
  font-family: var(--box-font);
}

.box__first {
  height: 10rem;
  background-size: cover;
}

.box__first img {
  width: 100%;
  height: 100%;
}

.box__second {
  height: 5rem;
  background-color: var(--box-bg-color);
}

.box__second ul {
  margin: 0;
  padding: 0;
}

.box__second li {
  padding: 0.5rem 1.5rem 0 1.5rem;
  list-style: none;
  font-size: 1rem;
}

.box__second span {
  color: var(--light-font-color);
  font-size: 1em;
}

.box__second i {
  color: var(--white-color);
  padding-bottom: 1rem;
}

.box__third {
  height: 5rem;
  background-color: var(--box-bg-color);
  color: var(--white-color);
  border-top: 1px solid var(--white-color);
  overflow: scroll;
}

.box__third p {
  padding: 0 1rem 0.5rem 1rem;
}
