:root {
  --fun-font: 'Palette Mosaic', cursive;
  --main-font: 'Amatic SC', cursive;
  --background-color: rgb(238, 238, 228);
  --red-color: rgb(255, 93, 44);
  --light-red-color: rgb(250, 179, 179);
  --green-color: rgb(236, 248, 226);
  --grey-color: rgb(227, 230, 227);
  --dark-font-color: rgb(11, 7, 70);
}

body {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--background-color);
}

header {
  width: 100%;
  font-family: var(--main-font);
  font-size: 6rem;
  text-align: center;
}

main {
  margin-top: 2vh;
}

header p {
  margin: 1rem;
}

header p:nth-child(1) {
  font-size: 0.4em;
  display: inline;
}

header p:nth-child(2) {
  font-size: 0.2em;
}
header p:nth-child(3) {
  font-size: 0.5em;
}

.link__github {
  font-size: 1rem;
  min-width: 80%;
}

.fa-github {
  font-size: 2rem;
}

.error__container {
  position: absolute;

  top: 0;
  left: 0;
  background-color: var(--light-red-color);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2000;
}

.error__message {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 52%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 10%;
  background-color: var(--background-color);
  opacity: 100%;
  border: solid 1px var(--light-red-color);
  border-radius: 15px;
  z-index: 2001;
  font-family: var(--main-font);
  font-size: 1rem;
}

.error__message p {
  margin: 0;
}

.fa-times-circle {
  margin-top: 5px;
}
.fa-times-circle:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.section__home {
  margin-top: 50px;
  align-items: center;
}
a:link {
  color: var(--dark-font-color);
  text-decoration: none;
}

a:visited {
  color: var(--dark-font-color);
  text-decoration: none;
}

.request-form {
  margin-top: 3rem;
}

img {
  max-width: 80vw;
  height: auto;
}

label {
  font-size: 2rem;
  color: var(--dark-font-color);
}
input,
select {
  border-radius: 10px;
  border: solid 1px var(--light-red-color);
  height: 2rem;
}
.loading {
  margin-bottom: 5vh;
  max-width: 20em;
  max-height: 75em;
  margin: auto;

  overflow: hidden;
}

.loading img {
  display: block;
  width: 100%;
  margin-top: 3rem;
  border-radius: 50%;
}

.error__visible,
.loading__visible {
  display: flex;
  justify-content: center;
}

#input__fact {
  width: 1.4rem;
  border: solid 1px var(--light-red-color);
}

.button {
  min-width: 95vw;
  text-align: center;
}

.button__start {
  font-family: var(--fun-font);
  border-style: none;
  box-shadow: 0 1px 1px var(--green-color), 0 8px 20px var(--grey-color);
  margin-top: 3em;
}

.button__start:hover {
  cursor: pointer;
}

.button__start--get {
  text-align: left;
  margin-left: 1rem;
  text-decoration: line-through var(--red-color);
  font-size: 1.7em;
}

.button__start--cat {
  text-align: center;
  text-decoration: var(--red-color) wavy underline;
  font-size: 2rem;
}

.button__start--started {
  font-size: 2em;
}

.button__submit {
  margin: auto;
  font-size: 1.5rem;
  font-family: var(--main-font);
  border-style: none;
  border-radius: 25%;
  border: solid 2px var(--light-red-color);
  box-shadow: 0 1px 1px var(--green-color), 0 8px 20px var(--grey-color);
  cursor: pointer;
  z-index: 1000;
}

.Reload--button__container {
  text-align: center;
}

.button__reload {
  max-width: 100%;
  font-size: 1.5rem;
  font-family: var(--main-font);
  border-style: none;
  border-radius: 25%;
  border: solid 2px var(--light-red-color);
  box-shadow: 0 1px 1px var(--green-color), 0 8px 20px var(--grey-color);
  cursor: pointer;
  margin: auto;
}

.section__input,
.section__picture {
  font-family: var(--main-font);
}

.form__container {
  min-width: 60vw;
  margin: 0;
}

.label-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60%;
  margin: auto;
}

.cat__fact {
  text-align: center;
  font-size: 1.2rem;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

footer {
  width: 100%;
  font-family: var(--main-font);
  text-align: center;
  margin-top: 5%;
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    margin: center;
  }

  header {
    flex-direction: column;
  }

  header p:nth-child(1) {
    font-size: 6vw;
    margin: 2vw;
  }

  header p:nth-child(2) {
    font-size: 3vw;
    margin: 2vw;
  }

  header p:nth-child(3) {
    font-size: 5vw;
    margin: 2vw;
  }

  main {
    margin: 0;
  }
  .link__github {
    font-size: 1.1rem;
    min-width: 80%;
  }

  .fa-github {
    font-size: 4rem;
  }
  .form__container {
    margin: 0;
    width: 100vw;
  }

  .label-input {
    max-width: 300px;
    margin: auto;
  }

  .img__container {
    text-align: center;
  }

  .img {
    max-width: 60%;
    height: auto;
    z-index: 100;
    opacity: 0.8;
  }

  .cat__fact {
    max-width: 60%;
    margin: auto;
  }

  .error__message {
    max-width: 40vw;
    min-height: 12vh;
    text-align: center;
    padding: 10px;
  }

  .error__message p {
    display: inline;
    font-size: 1.2rem;
  }

  .fa-times-circle {
    margin: 10px;
  }

  .cloud {
    display: block;
    position: absolute;
    background: #bda1b8;
    width: 90px;
    height: 42px;
    margin-left: 32px;
    -webkit-animation: clouds 30s infinite;
    margin-top: 10%;
  }

  .cloud:before {
    border-radius: 50%;
    box-shadow: 20px -20px 0 0 #bda1b8, 90px 0 0 0 #bda1b8,
      60px -27px 0 8px #bda1b8;
    content: '';
    position: absolute;
    width: 48px;
    height: 42px;
    left: -18px;
    background: #bda1b8;
  }

  .cloud:nth-child(1) {
    top: 50%;
    left: 17%;
    opacity: 0.25;
  }

  .cloud:nth-child(2) {
    top: 23%;
    left: 53%;
    opacity: 0.5;
  }

  .cloud:nth-child(3) {
    top: 95%;
    left: 15%;
    opacity: 0.95;
  }

  .cloud:nth-child(4) {
    top: 10%;
    left: 12%;
    opacity: 0.85;
  }
  .cloud:nth-child(5) {
    top: 72%;
    left: 42%;
    opacity: 0.25;
  }

  .cloud:nth-child(6) {
    top: 59%;
    left: 74%;
    opacity: 0.65;
  }

  .cloud:nth-child(7) {
    top: 12%;
    left: 87%;
    opacity: 0.65;
  }

  .cloud:nth-child(8) {
    top: 92%;
    left: 87%;
    opacity: 0.45;
  }

  @-webkit-keyframes clouds {
    0 {
      margin-left: 0;
    }
    25% {
      margin-left: 100px;
    }
    50% {
      margin-left: 0;
    }
    75% {
      margin-left: 30px;
    }
    100% {
      margin-left: 0;
    }
  }

  footer {
    margin-top: 5%;
  }
}
